<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
      <ion-col>
        <ion-button id="add" [routerLink]="['/form']">Añadir</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let item of products; let i=item" >
          <ion-item  (click)="getProductById(item.nc)">
            <ion-img [src]="item.photo">
            </ion-img>
            <ion-label>
              {{item.name}}
            </ion-label>
            <ion-label >
              <strong>${{item.price}}</strong>
            </ion-label>
            <ion-label>
              <ion-button expand="block" type="submit">
                <ion-icon name="cart-outline"></ion-icon>
              </ion-button>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
</ion-content>
